@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    background-color: #242329;
    height: 100vh;
    color: #fff;
}

.title-content {
    display: grid;
    place-content: center;
}

.aboutme-button {
    padding: 10px;
    border: none;
    border-radius: 4px;
    font: inherit;
    color: #fff;
    background-color: #6e5da9;
    cursor: pointer;
    position: relative;
    top: 25px;
}.aboutme-button:hover {
    background-color: #6e5da9;
    color: #fff;
}


.wrapper .sidebar {
    background: #2f2f32;
    position: fixed;
    top: 0;
    left: 0;
    width: 225px;
    height: 100%;
    padding: 20px 0;
    transition: all 0.5s ease;
}
.wrapper .sidebar .profile img {
    width: 200px;
    border-radius: 50%;
    margin: 0 auto;
	margin-bottom: 30px;
	text-align: center;
}

.wrapper .sidebar ul li a {
    display: block;
    padding: 34.6px 30px;
    border-bottom: 1px solid #10558d;
    color: rgb(241, 237, 237);
    font-size: 20px;
    position: relative;
    right: 20px;
}

.wrapper .sidebar ul li a .icon {
    color: #dee4ec;
    width: 35px;
    display: inline-block;
}

