@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}
a {
    text-decoration: none;
}
body {
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    background-color: #242329;
    height: 100vh;
    color: #fff;
}
.title-content {
    position: absolute;
    top: 45%;
    left: 35%;
}
.wrapper .sidebar {
    background: #2f2f32;
    position: fixed;
    top: 0;
    left: 0;
    width: 225px;
    height: 100%;
    padding: 20px 0;
    transition: all 0.5s ease;
}.wrapper .sidebar .profile img {
    width: 200px;
    border-radius: 50%;
    margin: 0 auto;
	margin-bottom: 30px;
	text-align: center;
}.wrapper .sidebar ul li a {
    display: block;
    padding: 34.6px 30px;
    border-bottom: 1px solid #10558d;
    color: rgb(241, 237, 237);
    font-size: 20px;
    position: relative;
    right: 20px;
}.wrapper .sidebar ul li a .icon {
    color: #dee4ec;
    width: 35px;
    display: inline-block;
} 
.arrow {
  opacity: 0;
  transition: opacity 800ms;
}

li:hover .arrow {
    opacity: 1;
}  
.one, .two {
    transition: 500ms;
    font-size: 15px;
    text-align: left;
    width: 50%;
    height: auto;
    position: relative;
    top: 120px;
    left: 150px; 
}
.title {
    text-shadow: 0 0 5px #fff;
    font-size: 30px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 30px;
    position: absolute;
    top: 20%;
    left: 20%;
}